pg_dump.exe : pg_dump: last built-in OID is 16383
No C:\quadro-do-mane\scripts\backup-simple.ps1:32 caractere:1
+ & "$PgBinPath\pg_dump.exe" `
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (pg_dump: last built-in OID is 163 
   83:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
pg_dump: reading extensions
pg_dump: identifying extension members
pg_dump: reading schemas
pg_dump: reading user-defined tables
pg_dump: reading user-defined functions
pg_dump: reading user-defined types
pg_dump: reading procedural languages
pg_dump: reading user-defined aggregate functions
pg_dump: reading user-defined operators
pg_dump: reading user-defined access methods
pg_dump: reading user-defined operator classes
pg_dump: reading user-defined operator families
pg_dump: reading user-defined text search parsers
pg_dump: reading user-defined text search templates
pg_dump: reading user-defined text search dictionaries
pg_dump: reading user-defined text search configurations
pg_dump: reading user-defined foreign-data wrappers
pg_dump: reading user-defined foreign servers
pg_dump: reading default privileges
pg_dump: reading user-defined collations
pg_dump: reading user-defined conversions
pg_dump: reading type casts
pg_dump: reading transforms
pg_dump: reading table inheritance information
pg_dump: reading event triggers
pg_dump: finding extension tables
pg_dump: finding inheritance relationships
pg_dump: reading column info for interesting tables
pg_dump: finding table default expressions
pg_dump: flagging inherited columns in subtables
pg_dump: reading partitioning data
pg_dump: reading indexes
pg_dump: flagging indexes in partitioned tables
pg_dump: reading extended statistics
pg_dump: reading constraints
pg_dump: reading triggers
pg_dump: reading rewrite rules
pg_dump: reading policies
pg_dump: reading row-level security policies
pg_dump: reading publications
pg_dump: reading publication membership of tables
pg_dump: reading publication membership of schemas
pg_dump: reading subscriptions
pg_dump: reading large objects
pg_dump: reading dependency data
pg_dump: saving encoding = UTF8
pg_dump: saving standard_conforming_strings = on
pg_dump: saving search_path = 
pg_dump: creating SCHEMA "public"
pg_dump: creating COMMENT "SCHEMA public"
pg_dump: creating TYPE "public.ProjectStatus"
pg_dump: creating TYPE "public.ProjectViewType"
pg_dump: creating TYPE "public.SubscriptionStatus"
pg_dump: creating TYPE "public.TenantStatus"
pg_dump: creating TYPE "public.TenantUserStatus"
pg_dump: creating TABLE "public._prisma_migrations"
pg_dump: creating TABLE "public.activity_logs"
pg_dump: creating TABLE "public.attachments"
pg_dump: creating TABLE "public.audit_logs"
--
-- PostgreSQL database dump
--

pg_dump: creating TABLE "public.automations"
\restrict ZFZyz0SllobxXGqY3glCyZ35mW1vrFALq2hOlc8DWR95MMe0XF81xK8McI4C2ws

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

-- Started on 2026-08-18 09:41:20

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- TOC entry 5 (class 2615 OID 37099)
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- TOC entry 5345 (class 0 OID 0)
-- Dependencies: 5
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- TOC entry 884 (class 1247 OID 37118)
-- Name: ProjectStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProjectStatus" AS ENUM (
    'DRAFT',
    'ACTIVE',
    'ON_HOLD',
    'COMPLETED',
    'CANCELLED',
    'ARCHIVED'
);


ALTER TYPE public."ProjectStatus" OWNER TO postgres;

--
-- TOC entry 887 (class 1247 OID 37132)
-- Name: ProjectViewType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProjectViewType" AS ENUM (
    'LIST',
    'KANBAN',
    'CALENDAR',
    'TIMELINE',
    'DASHBOARD'
);


ALTER TYPE public."ProjectViewType" OWNER TO postgres;

--
-- TOC entry 890 (class 1247 OID 37144)
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'ACTIVE',
    'TRIAL',
    'EXPIRED',
    'CANCELLED'
);


ALTER TYPE public."SubscriptionStatus" OWNER TO postgres;

--
-- TOC entry 881 (class 1247 OID 37110)
-- Name: TenantStatus; Type: TYPE; Schema: public; Owner: postgres
pg_dump: creating TABLE "public.contacts"
--

CREATE TYPE public."TenantStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public."TenantStatus" OWNER TO postgres;

--
-- TOC entry 1001 (class 1247 OID 37863)
-- Name: TenantUserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TenantUserStatus" AS ENUM (
    'ACTIVE',
    'INVITED',
    'SUSPENDED'
);


ALTER TYPE public."TenantUserStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 215 (class 1259 OID 37100)
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- TOC entry 242 (class 1259 OID 37378)
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    id text NOT NULL,
    tenant_id text NOT NULL,
    actor_tenant_user_id text,
    entity_type text NOT NULL,
    entity_id text NOT NULL,
    action text NOT NULL,
    old_values_json text,
    new_values_json text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- TOC entry 237 (class 1259 OID 37337)
-- Name: attachments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attachments (
    id text NOT NULL,
    tenant_id text NOT NULL,
    task_id text,
    project_id text,
    uploaded_by_tenant_user_id text NOT NULL,
    file_name text NOT NULL,
    file_path text NOT NULL,
    mime_type text,
    file_size integer,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.attachments OWNER TO postgres;

--
-- TOC entry 243 (class 1259 OID 37386)
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    tenant_id text,
    actor_user_id text,
    action text NOT NULL,
    target_type text,
    target_id text,
    ip_address text,
    user_agent text,
    metadata_json text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- TOC entry 246 (class 1259 OID 37411)
-- Name: automations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.automations (
pg_dump: creating TABLE "public.custom_field_values"
pg_dump: creating TABLE "public.custom_fields"
pg_dump: creating TABLE "public.email_settings"
pg_dump: creating TABLE "public.email_tenant_settings"
pg_dump: creating TABLE "public.event_attendees"
    id text NOT NULL,
    tenant_id text NOT NULL,
    name text NOT NULL,
    description text,
    trigger_type text NOT NULL,
    conditions_json text,
    actions_json text,
    is_active boolean DEFAULT true NOT NULL,
    created_by_tenant_user_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.automations OWNER TO postgres;

--
-- TOC entry 240 (class 1259 OID 37361)
-- Name: contacts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contacts (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name text NOT NULL,
    company text,
    department text,
    role text,
    email text,
    phone text,
    mobile text,
    extension text,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.contacts OWNER TO postgres;

--
-- TOC entry 248 (class 1259 OID 37429)
-- Name: custom_field_values; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.custom_field_values (
    id text NOT NULL,
    tenant_id text NOT NULL,
    custom_field_id text NOT NULL,
    entity_id text NOT NULL,
    value_text text,
    value_number numeric(18,4),
    value_date timestamp(3) without time zone,
    value_boolean boolean,
    value_json text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);

pg_dump: creating TABLE "public.events"
pg_dump: creating TABLE "public.login_attempts"
pg_dump: creating TABLE "public.notifications"
pg_dump: creating TABLE "public.permissions"
pg_dump: creating TABLE "public.plans"
pg_dump: creating TABLE "public.project_members"
pg_dump: creating TABLE "public.project_views"
pg_dump: creating TABLE "public.projects"

ALTER TABLE public.custom_field_values OWNER TO postgres;

--
-- TOC entry 247 (class 1259 OID 37420)
-- Name: custom_fields; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.custom_fields (
    id text NOT NULL,
    tenant_id text NOT NULL,
    entity_type text NOT NULL,
    name text NOT NULL,
    field_type text NOT NULL,
    config_json text,
    is_required boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.custom_fields OWNER TO postgres;

--
-- TOC entry 249 (class 1259 OID 37807)
-- Name: email_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_settings (
    id text NOT NULL,
    tenant_id text NOT NULL,
    tenant_user_id text NOT NULL,
    protocol text DEFAULT 'imap'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    password_ciphertext text NOT NULL,
    password_iv text NOT NULL,
    password_auth_tag text NOT NULL
);


ALTER TABLE public.email_settings OWNER TO postgres;

--
-- TOC entry 252 (class 1259 OID 37874)
-- Name: email_tenant_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_tenant_settings (
    id text NOT NULL,
    tenant_id text NOT NULL,
    email_domain text NOT NULL,
    detection_mode text DEFAULT 'PRESET'::text NOT NULL,
    preset_key text,
    imap_host text NOT NULL,
    imap_port integer NOT NULL,
    imap_secure boolean DEFAULT true NOT NULL,
    smtp_host text NOT NULL,
    smtp_port integer NOT NULL,
    smtp_secure boolean DEFAULT true NOT NULL,
    updated_by_tenant_user_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.email_tenant_settings OWNER TO postgres;

--
-- TOC entry 239 (class 1259 OID 37354)
-- Name: event_attendees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_attendees (
    id text NOT NULL,
    tenant_id text NOT NULL,
    event_id text NOT NULL,
    tenant_user_id text NOT NULL,
    response_status text
);


ALTER TABLE public.event_attendees OWNER TO postgres;

--
-- TOC entry 238 (class 1259 OID 37345)
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id text NOT NULL,
    tenant_id text NOT NULL,
    title text NOT NULL,
    description text,
    type text,
    start_at timestamp(3) without time zone NOT NULL,
    end_at timestamp(3) without time zone NOT NULL,
    all_day boolean DEFAULT false NOT NULL,
    created_by_tenant_user_id text NOT NULL,
    related_project_id text,
    related_task_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.events OWNER TO postgres;

--
-- TOC entry 251 (class 1259 OID 37851)
-- Name: login_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login_attempts (
    id text NOT NULL,
    email text NOT NULL,
    ip_address text,
    user_agent text,
    success boolean NOT NULL,
    reason text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.login_attempts OWNER TO postgres;
pg_dump: creating TABLE "public.refresh_tokens"
pg_dump: creating TABLE "public.role_permissions"
pg_dump: creating TABLE "public.roles"
pg_dump: creating TABLE "public.subscriptions"
pg_dump: creating TABLE "public.task_assignees"
pg_dump: creating TABLE "public.task_checklist_items"
pg_dump: creating TABLE "public.task_checklists"

--
-- TOC entry 241 (class 1259 OID 37369)
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    tenant_id text NOT NULL,
    tenant_user_id text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    payload_json text,
    is_read boolean DEFAULT false NOT NULL,
    read_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- TOC entry 221 (class 1259 OID 37199)
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    module text NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- TOC entry 217 (class 1259 OID 37162)
-- Name: plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plans (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    max_users integer,
    max_projects integer,
    max_storage_mb integer,
    monthly_price numeric(10,2) DEFAULT 0 NOT NULL,
    annual_price numeric(10,2) DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.plans OWNER TO postgres;

--
-- TOC entry 226 (class 1259 OID 37239)
-- Name: project_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_members (
    id text NOT NULL,
    tenant_id text NOT NULL,
    project_id text NOT NULL,
    tenant_user_id text NOT NULL,
    role_in_project text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.project_members OWNER TO postgres;

--
-- TOC entry 227 (class 1259 OID 37247)
-- Name: project_views; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_views (
    id text NOT NULL,
    tenant_id text NOT NULL,
    project_id text NOT NULL,
    name text NOT NULL,
    type public."ProjectViewType" NOT NULL,
    config_json text,
    created_by text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.project_views OWNER TO postgres;

--
-- TOC entry 225 (class 1259 OID 37229)
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name text NOT NULL,
    code text,
    description text,
    status public."ProjectStatus" DEFAULT 'ACTIVE'::public."ProjectStatus" NOT NULL,
    priority text,
    owner_tenant_user_id text,
    team_id text,
    start_date timestamp(3) without time zone,
    due_date timestamp(3) without time zone,
    completed_at timestamp(3) without time zone,
    progress_percent integer DEFAULT 0 NOT NULL,
    color text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    archived_at timestamp(3) without time zone
);


ALTER TABLE public.projects OWNER TO postgres;

--
pg_dump: creating TABLE "public.task_comments"
pg_dump: creating TABLE "public.task_priorities"
pg_dump: creating TABLE "public.task_statuses"
pg_dump: creating TABLE "public.task_tag_links"
pg_dump: creating TABLE "public.task_tags"
pg_dump: creating TABLE "public.tasks"
pg_dump: creating TABLE "public.team_members"
pg_dump: creating TABLE "public.teams"
-- TOC entry 250 (class 1259 OID 37828)
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    tenant_id text NOT NULL,
    token_hash text NOT NULL,
    family text NOT NULL,
    is_revoked boolean DEFAULT false NOT NULL,
    replaced_by_id text,
    user_agent text,
    ip_address text,
    expires_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- TOC entry 222 (class 1259 OID 37206)
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    id text NOT NULL,
    role_id text NOT NULL,
    permission_id text NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- TOC entry 220 (class 1259 OID 37190)
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id text NOT NULL,
    tenant_id text,
    name text NOT NULL,
    description text,
    is_system_role boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- TOC entry 244 (class 1259 OID 37394)
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions (
    id text NOT NULL,
    tenant_id text NOT NULL,
    plan_id text NOT NULL,
    status public."SubscriptionStatus" DEFAULT 'ACTIVE'::public."SubscriptionStatus" NOT NULL,
    started_at timestamp(3) without time zone NOT NULL,
    expires_at timestamp(3) without time zone,
    trial_ends_at timestamp(3) without time zone,
    cancelled_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO postgres;

--
-- TOC entry 231 (class 1259 OID 37287)
-- Name: task_assignees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_assignees (
    id text NOT NULL,
    tenant_id text NOT NULL,
    task_id text NOT NULL,
    tenant_user_id text NOT NULL,
    assigned_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.task_assignees OWNER TO postgres;

--
-- TOC entry 235 (class 1259 OID 37319)
-- Name: task_checklist_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_checklist_items (
    id text NOT NULL,
    tenant_id text NOT NULL,
    checklist_id text NOT NULL,
    content text NOT NULL,
    is_done boolean DEFAULT false NOT NULL,
    done_by_tenant_user_id text,
    done_at timestamp(3) without time zone,
    "position" integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.task_checklist_items OWNER TO postgres;

--
-- TOC entry 234 (class 1259 OID 37310)
-- Name: task_checklists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_checklists (
    id text NOT NULL,
    tenant_id text NOT NULL,
    task_id text NOT NULL,
    title text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.task_checklists OWNER TO postgres;

--
pg_dump: creating TABLE "public.tenant_users"
pg_dump: creating TABLE "public.tenants"
pg_dump: creating TABLE "public.token_denylist"
pg_dump: creating TABLE "public.usage_counters"
pg_dump: creating TABLE "public.users"
pg_dump: processing data for table "public._prisma_migrations"
pg_dump: dumping contents of table "public._prisma_migrations"
-- TOC entry 236 (class 1259 OID 37329)
-- Name: task_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_comments (
    id text NOT NULL,
    tenant_id text NOT NULL,
    task_id text NOT NULL,
    author_tenant_user_id text NOT NULL,
    content text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    deleted_at timestamp(3) without time zone
);


ALTER TABLE public.task_comments OWNER TO postgres;

--
-- TOC entry 229 (class 1259 OID 37266)
-- Name: task_priorities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_priorities (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name text NOT NULL,
    level integer DEFAULT 0 NOT NULL,
    color text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.task_priorities OWNER TO postgres;

--
-- TOC entry 228 (class 1259 OID 37255)
-- Name: task_statuses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_statuses (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    color text,
    "position" integer DEFAULT 0 NOT NULL,
    category text DEFAULT 'pending'::text NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.task_statuses OWNER TO postgres;

--
-- TOC entry 233 (class 1259 OID 37303)
-- Name: task_tag_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_tag_links (
    id text NOT NULL,
    tenant_id text NOT NULL,
    task_id text NOT NULL,
    tag_id text NOT NULL
);


ALTER TABLE public.task_tag_links OWNER TO postgres;

--
-- TOC entry 232 (class 1259 OID 37295)
-- Name: task_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_tags (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name text NOT NULL,
    color text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.task_tags OWNER TO postgres;

--
-- TOC entry 230 (class 1259 OID 37275)
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    id text NOT NULL,
    tenant_id text NOT NULL,
    project_id text NOT NULL,
    parent_task_id text,
    title text NOT NULL,
    description text,
    status_id text,
    priority_id text,
    assignee_tenant_user_id text,
    reporter_tenant_user_id text,
    team_id text,
    start_date timestamp(3) without time zone,
    due_date timestamp(3) without time zone,
    completed_at timestamp(3) without time zone,
    estimated_minutes integer,
    spent_minutes integer DEFAULT 0 NOT NULL,
    story_points integer,
    kanban_position integer DEFAULT 0 NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    is_blocked boolean DEFAULT false NOT NULL,
    blocked_reason text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    archived_at timestamp(3) without time zone
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- TOC entry 224 (class 1259 OID 37221)
-- Name: team_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team_members (
    id text NOT NULL,
    tenant_id text NOT NULL,
    team_id text NOT NULL,
    tenant_user_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.team_members OWNER TO postgres;

--
-- TOC entry 223 (class 1259 OID 37213)
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

pg_dump: processing data for table "public.activity_logs"
pg_dump: dumping contents of table "public.activity_logs"
CREATE TABLE public.teams (
    id text NOT NULL,
    tenant_id text NOT NULL,
    name text NOT NULL,
    description text,
    manager_tenant_user_id text,
    color text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- TOC entry 219 (class 1259 OID 37181)
-- Name: tenant_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tenant_users (
    id text NOT NULL,
    tenant_id text NOT NULL,
    user_id text NOT NULL,
    role_id text,
    job_title text,
    department text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    status public."TenantUserStatus" DEFAULT 'ACTIVE'::public."TenantUserStatus" NOT NULL,
    must_change_password boolean DEFAULT false NOT NULL,
    last_invite_at timestamp(3) without time zone,
    disabled_at timestamp(3) without time zone,
    disabled_reason text
);


ALTER TABLE public.tenant_users OWNER TO postgres;

--
-- TOC entry 218 (class 1259 OID 37172)
-- Name: tenants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tenants (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    legal_name text,
    document_number text,
    email text,
    phone text,
    status public."TenantStatus" DEFAULT 'ACTIVE'::public."TenantStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tenants OWNER TO postgres;

--
-- TOC entry 253 (class 1259 OID 37897)
-- Name: token_denylist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_denylist (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    token_hash text NOT NULL,
    user_id uuid,
    reason text,
    expires_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.token_denylist OWNER TO postgres;

--
-- TOC entry 245 (class 1259 OID 37403)
-- Name: usage_counters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usage_counters (
    id text NOT NULL,
    tenant_id text NOT NULL,
    metric_code text NOT NULL,
    current_value integer DEFAULT 0 NOT NULL,
    period_start timestamp(3) without time zone,
    period_end timestamp(3) without time zone,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.usage_counters OWNER TO postgres;

--
-- TOC entry 216 (class 1259 OID 37153)
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    avatar_url text,
    phone text,
    is_active boolean DEFAULT true NOT NULL,
    last_login_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- TOC entry 5301 (class 0 OID 37100)
-- Dependencies: 215
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5328 (class 0 OID 37378)
-- Dependencies: 242
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
pg_dump: processing data for table "public.attachments"
-- TOC entry 5323 (class 0 OID 37337)
-- Dependencies: 237
-- Data for Name: attachments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attachments (id, tenant_id, task_id, project_id, uploaded_by_tenant_user_id, file_name, file_path, mime_type, file_size, created_at) FROM stdin;
\.


--
-- TOC entry 5329 (class 0 OID 37386)
-- Dependencies: 243
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5332 (class 0 OID 37411)
-- Dependencies: 246
pg_dump: dumping contents of table "public.attachments"
pg_dump: processing data for table "public.audit_logs"
pg_dump: dumping contents of table "public.audit_logs"
pg_dump: processing data for table "public.automations"
pg_dump: dumping contents of table "public.automations"
pg_dump: processing data for table "public.contacts"
pg_dump: dumping contents of table "public.contacts"
pg_dump: processing data for table "public.custom_field_values"
pg_dump: dumping contents of table "public.custom_field_values"
pg_dump: processing data for table "public.custom_fields"
pg_dump: dumping contents of table "public.custom_fields"
pg_dump: processing data for table "public.email_settings"
pg_dump: dumping contents of table "public.email_settings"
pg_dump: processing data for table "public.email_tenant_settings"
pg_dump: dumping contents of table "public.email_tenant_settings"
pg_dump: processing data for table "public.event_attendees"
pg_dump: dumping contents of table "public.event_attendees"
pg_dump: processing data for table "public.events"
pg_dump: dumping contents of table "public.events"
pg_dump: processing data for table "public.login_attempts"
pg_dump: dumping contents of table "public.login_attempts"
-- Data for Name: automations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.automations (id, tenant_id, name, description, trigger_type, conditions_json, actions_json, is_active, created_by_tenant_user_id, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 5326 (class 0 OID 37361)
-- Dependencies: 240
-- Data for Name: contacts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contacts (id, tenant_id, name, company, department, role, email, phone, mobile, extension, notes, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 5334 (class 0 OID 37429)
-- Dependencies: 248
-- Data for Name: custom_field_values; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.custom_field_values (id, tenant_id, custom_field_id, entity_id, value_text, value_number, value_date, value_boolean, value_json, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 5333 (class 0 OID 37420)
-- Dependencies: 247
-- Data for Name: custom_fields; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.custom_fields (id, tenant_id, entity_type, name, field_type, config_json, is_required, created_at) FROM stdin;
\.


--
-- TOC entry 5335 (class 0 OID 37807)
-- Dependencies: 249
-- Data for Name: email_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_settings (id, tenant_id, tenant_user_id, protocol, created_at, updated_at, password_ciphertext, password_iv, password_auth_tag) FROM stdin;
\.


--
-- TOC entry 5338 (class 0 OID 37874)
-- Dependencies: 252
-- Data for Name: email_tenant_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_tenant_settings (id, tenant_id, email_domain, detection_mode, preset_key, imap_host, imap_port, imap_secure, smtp_host, smtp_port, smtp_secure, updated_by_tenant_user_id, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 5325 (class 0 OID 37354)
-- Dependencies: 239
-- Data for Name: event_attendees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.event_attendees (id, tenant_id, event_id, tenant_user_id, response_status) FROM stdin;
\.


--
-- TOC entry 5324 (class 0 OID 37345)
-- Dependencies: 238
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.events (id, tenant_id, title, description, type, start_at, end_at, all_day, created_by_tenant_user_id, related_project_id, related_task_id, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 5337 (class 0 OID 37851)
-- Dependencies: 251
-- Data for Name: login_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5327 (class 0 OID 37369)
-- Dependencies: 241
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, tenant_id, tenant_user_id, type, title, message, payload_json, is_read, read_at, created_at) FROM stdin;
\.


--
-- TOC entry 5307 (class 0 OID 37199)
-- Dependencies: 221
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5303 (class 0 OID 37162)
-- Dependencies: 217
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5312 (class 0 OID 37239)
-- Dependencies: 226
-- Data for Name: project_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_members (id, tenant_id, project_id, tenant_user_id, role_in_project, created_at) FROM stdin;
\.


--
-- TOC entry 5313 (class 0 OID 37247)
-- Dependencies: 227
pg_dump: processing data for table "public.refresh_tokens"
-- Data for Name: project_views; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_views (id, tenant_id, project_id, name, type, config_json, created_by, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 5311 (class 0 OID 37229)
-- Dependencies: 225
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5336 (class 0 OID 37828)
-- Dependencies: 250
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5308 (class 0 OID 37206)
-- Dependencies: 222
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5306 (class 0 OID 37190)
-- Dependencies: 220
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, tenant_id, name, description, is_system_role, created_at, updated_at) FROM stdin;
admin	\N	admin	Controle total do tenant.	t	2026-07-15 13:03:39.811	2026-07-15 13:03:39.811
gestor	\N	gestor	Gerencia projetos, equipes e tarefas.	t	2026-07-15 13:03:39.814	2026-07-15 13:03:39.814
colaborador	\N	colaborador	Executa tarefas, comenta, atualiza status.	t	2026-07-15 13:03:39.815	2026-07-15 13:03:39.815
convidado	\N	convidado	Acesso restrito de leitura.	t	2026-07-15 13:03:39.816	2026-07-15 13:03:39.816
\.


--
-- TOC entry 5330 (class 0 OID 37394)
-- Dependencies: 244
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscriptions (id, tenant_id, plan_id, status, started_at, expires_at, trial_ends_at, cancelled_at, created_at, updated_at) FROM stdin;
98d78db1-f101-4a1f-a98b-a246461ab69b	bb8bd886-8aeb-40c9-a9ee-68c5a634563b	trial	TRIAL	2026-07-15 13:03:39.724	\N	2026-08-14 13:03:39.723	\N	2026-07-15 13:03:39.727	2026-07-15 13:03:39.727
\.


--
-- TOC entry 5317 (class 0 OID 37287)
-- Dependencies: 231
-- Data for Name: task_assignees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_assignees (id, tenant_id, task_id, tenant_user_id, assigned_at) FROM stdin;
\.


--
-- TOC entry 5321 (class 0 OID 37319)
-- Dependencies: 235
-- Data for Name: task_checklist_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_checklist_items (id, tenant_id, checklist_id, content, is_done, done_by_tenant_user_id, done_at, "position", created_at) FROM stdin;
\.


--
-- TOC entry 5320 (class 0 OID 37310)
-- Dependencies: 234
-- Data for Name: task_checklists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_checklists (id, tenant_id, task_id, title, "position", created_at) FROM stdin;
\.


pg_dump: processing data for table "public.task_tag_links"
pg_dump: dumping contents of table "public.task_tag_links"
pg_dump: processing data for table "public.task_tags"
pg_dump: dumping contents of table "public.task_tags"
pg_dump: processing data for table "public.tasks"
pg_dump: dumping contents of table "public.tasks"
--
-- TOC entry 5322 (class 0 OID 37329)
-- Dependencies: 236
-- Data for Name: task_comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_comments (id, tenant_id, task_id, author_tenant_user_id, content, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- TOC entry 5315 (class 0 OID 37266)
-- Dependencies: 229
-- Data for Name: task_priorities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_priorities (id, tenant_id, name, level, color, created_at) FROM stdin;
937bc584-7f0b-4347-a3fe-19f0d208b0da	bb8bd886-8aeb-40c9-a9ee-68c5a634563b	Baixa	1	#94A3B8	2026-07-15 13:03:40.286
5b9a4891-faf9-4036-a354-73a218ae5395	bb8bd886-8aeb-40c9-a9ee-68c5a634563b	Normal	2	#3B82F6	2026-07-15 13:03:40.289
0d7f439b-51d4-4179-b3c6-e62f53eaf54c	bb8bd886-8aeb-40c9-a9ee-68c5a634563b	Alta	3	#F59E0B	2026-07-15 13:03:40.29
584e26df-9ab5-455d-8fac-db6eaed059bb	bb8bd886-8aeb-40c9-a9ee-68c5a634563b	Urgente	4	#EF4444	2026-07-15 13:03:40.291
\.


--
-- TOC entry 5314 (class 0 OID 37255)
-- Dependencies: 228
-- Data for Name: task_statuses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5319 (class 0 OID 37303)
-- Dependencies: 233
-- Data for Name: task_tag_links; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_tag_links (id, tenant_id, task_id, tag_id) FROM stdin;
\.


--
-- TOC entry 5318 (class 0 OID 37295)
-- Dependencies: 232
-- Data for Name: task_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_tags (id, tenant_id, name, color, created_at) FROM stdin;
\.


--
-- TOC entry 5316 (class 0 OID 37275)
-- Dependencies: 230
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5310 (class 0 OID 37221)
-- Dependencies: 224
pg_dump: processing data for table "public.tenants"
-- Data for Name: team_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.team_members (id, tenant_id, team_id, tenant_user_id, created_at) FROM stdin;
\.


--
-- TOC entry 5309 (class 0 OID 37213)
-- Dependencies: 223
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teams (id, tenant_id, name, description, manager_tenant_user_id, color, created_at, updated_at) FROM stdin;
fb00a1ea-da2e-4f1b-8a6b-0c3754ac6f5a	bb8bd886-8aeb-40c9-a9ee-68c5a634563b	Opera├º├Áes	Equipe de opera├º├Áes	01db15f5-2ff9-4a6a-9bc4-f3f4c8e1c5b2	#5B5FEF	2026-07-15 13:03:40.296	2026-07-15 13:03:40.296
\.


--
-- TOC entry 5305 (class 0 OID 37181)
-- Dependencies: 219
-- Data for Name: tenant_users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5304 (class 0 OID 37172)
-- Dependencies: 218
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tenants (id, name, slug, legal_name, document_number, email, phone, status, created_at, updated_at) FROM stdin;
bb8bd886-8aeb-40c9-a9ee-68c5a634563b	Monte Moria Demo	monte-moria-demo	Monte Moria Demo LTDA	00.000.000/0001-00	admin@montemoria.local	+55 19 99999-9999	ACTIVE	2026-07-15 13:03:39.715	2026-07-15 13:03:39.715
\.


--
-- TOC entry 5339 (class 0 OID 37897)
-- Dependencies: 253
-- Data for Name: token_denylist; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 5331 (class 0 OID 37403)
-- Dependencies: 245
-- Data for Name: usage_counters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usage_counters (id, tenant_id, metric_code, current_value, period_start, period_end, updated_at) FROM stdin;
\.


--
-- TOC entry 5302 (class 0 OID 37153)
-- Dependencies: 216
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--


pg_dump: creating CONSTRAINT "public.attachments attachments_pkey"
pg_dump: creating CONSTRAINT "public.audit_logs audit_logs_pkey"
pg_dump: creating CONSTRAINT "public.automations automations_pkey"
pg_dump: creating CONSTRAINT "public.contacts contacts_pkey"
pg_dump: creating CONSTRAINT "public.custom_field_values 
custom_field_values_pkey"
pg_dump: creating CONSTRAINT "public.custom_fields custom_fields_pkey"
pg_dump: creating CONSTRAINT "public.email_settings email_settings_pkey"
pg_dump: creating CONSTRAINT "public.email_tenant_settings 
email_tenant_settings_pkey"
pg_dump: creating CONSTRAINT "public.event_attendees event_attendees_pkey"
pg_dump: creating CONSTRAINT "public.events events_pkey"
pg_dump: creating CONSTRAINT "public.login_attempts login_attempts_pkey"
pg_dump: creating CONSTRAINT "public.notifications notifications_pkey"
pg_dump: creating CONSTRAINT "public.permissions permissions_pkey"
pg_dump: creating CONSTRAINT "public.plans plans_pkey"
pg_dump: creating CONSTRAINT "public.project_members project_members_pkey"
pg_dump: creating CONSTRAINT "public.project_views project_views_pkey"
pg_dump: creating CONSTRAINT "public.projects projects_pkey"

--
-- TOC entry 4970 (class 2606 OID 37108)
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- TOC entry 5043 (class 2606 OID 37385)
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- TOC entry 5031 (class 2606 OID 37344)
-- Name: attachments attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_pkey PRIMARY KEY (id);


--
-- TOC entry 5045 (class 2606 OID 37393)
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- TOC entry 5052 (class 2606 OID 37419)
-- Name: automations automations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

pg_dump: creating CONSTRAINT "public.refresh_tokens refresh_tokens_pkey"
ALTER TABLE ONLY public.automations
    ADD CONSTRAINT automations_pkey PRIMARY KEY (id);


--
-- TOC entry 5038 (class 2606 OID 37368)
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


pg_dump: creating CONSTRAINT "public.role_permissions role_permissions_pkey"
pg_dump: creating CONSTRAINT "public.roles roles_pkey"
pg_dump: creating CONSTRAINT "public.subscriptions subscriptions_pkey"
pg_dump: creating CONSTRAINT "public.task_assignees task_assignees_pkey"
pg_dump: creating CONSTRAINT "public.task_checklist_items 
task_checklist_items_pkey"
pg_dump: creating CONSTRAINT "public.task_checklists task_checklists_pkey"
--
-- TOC entry 5056 (class 2606 OID 37436)
-- Name: custom_field_values custom_field_values_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.custom_field_values
    ADD CONSTRAINT custom_field_values_pkey PRIMARY KEY (id);


--
-- TOC entry 5054 (class 2606 OID 37428)
-- Name: custom_fields custom_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.custom_fields
    ADD CONSTRAINT custom_fields_pkey PRIMARY KEY (id);


--
-- TOC entry 5058 (class 2606 OID 37816)
-- Name: email_settings email_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_settings
    ADD CONSTRAINT email_settings_pkey PRIMARY KEY (id);


--
-- TOC entry 5074 (class 2606 OID 37884)
-- Name: email_tenant_settings email_tenant_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_tenant_settings
    ADD CONSTRAINT email_tenant_settings_pkey PRIMARY KEY (id);


--
-- TOC entry 5036 (class 2606 OID 37360)
-- Name: event_attendees event_attendees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_attendees
    ADD CONSTRAINT event_attendees_pkey PRIMARY KEY (id);


pg_dump: creating CONSTRAINT "public.task_comments task_comments_pkey"
pg_dump: creating CONSTRAINT "public.task_priorities task_priorities_pkey"
pg_dump: creating CONSTRAINT "public.task_statuses task_statuses_pkey"
pg_dump: creating CONSTRAINT "public.task_tag_links task_tag_links_pkey"
pg_dump: creating CONSTRAINT "public.task_tags task_tags_pkey"
pg_dump: creating CONSTRAINT "public.tasks tasks_pkey"
pg_dump: creating CONSTRAINT "public.team_members team_members_pkey"
pg_dump: creating CONSTRAINT "public.teams teams_pkey"
pg_dump: creating CONSTRAINT "public.tenant_users tenant_users_pkey"
pg_dump: creating CONSTRAINT "public.tenants tenants_pkey"
pg_dump: creating CONSTRAINT "public.token_denylist token_denylist_pkey"
--
-- TOC entry 5033 (class 2606 OID 37353)
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- TOC entry 5071 (class 2606 OID 37858)
-- Name: login_attempts login_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_attempts
    ADD CONSTRAINT login_attempts_pkey PRIMARY KEY (id);


--
-- TOC entry 5040 (class 2606 OID 37377)
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- TOC entry 4986 (class 2606 OID 37205)
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- TOC entry 4975 (class 2606 OID 37171)
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- TOC entry 5000 (class 2606 OID 37246)
-- Name: project_members project_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_pkey PRIMARY KEY (id);


--
-- TOC entry 5003 (class 2606 OID 37254)
-- Name: project_views project_views_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_views
    ADD CONSTRAINT project_views_pkey PRIMARY KEY (id);


--
-- TOC entry 4996 (class 2606 OID 37238)
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- TOC entry 5063 (class 2606 OID 37836)
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- TOC entry 4988 (class 2606 OID 37212)
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- TOC entry 4983 (class 2606 OID 37198)
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- TOC entry 5047 (class 2606 OID 37402)
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

pg_dump: creating CONSTRAINT "public.token_denylist 
token_denylist_token_hash_key"
pg_dump: creating CONSTRAINT "public.usage_counters usage_counters_pkey"
pg_dump: creating CONSTRAINT "public.users users_pkey"
pg_dump: creating INDEX "public.email_settings_tenant_user_id_protocol_key"
pg_dump: creating INDEX "public.email_tenant_settings_email_domain_idx"
pg_dump: creating INDEX "public.email_tenant_settings_tenant_id_key"
pg_dump: creating INDEX "public.event_attendees_event_id_tenant_user_id_key"
pg_dump: creating INDEX "public.login_attempts_created_at_idx"
pg_dump: creating INDEX "public.login_attempts_email_idx"
pg_dump: creating INDEX "public.login_attempts_ip_address_idx"
pg_dump: creating INDEX 
"public.notifications_tenant_id_tenant_user_id_is_read_idx"
pg_dump: creating INDEX "public.permissions_code_key"
pg_dump: creating INDEX "public.project_members_project_id_tenant_user_id_key"
pg_dump: creating INDEX "public.projects_tenant_id_owner_tenant_user_id_idx"
pg_dump: creating INDEX "public.projects_tenant_id_status_idx"
pg_dump: creating INDEX "public.refresh_tokens_expires_at_idx"
ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- TOC entry 5017 (class 2606 OID 37294)
-- Name: task_assignees task_assignees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_assignees
    ADD CONSTRAINT task_assignees_pkey PRIMARY KEY (id);


--
-- TOC entry 5027 (class 2606 OID 37328)
-- Name: task_checklist_items task_checklist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_checklist_items
    ADD CONSTRAINT task_checklist_items_pkey PRIMARY KEY (id);


--
-- TOC entry 5025 (class 2606 OID 37318)
-- Name: task_checklists task_checklists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_checklists
    ADD CONSTRAINT task_checklists_pkey PRIMARY KEY (id);


--
-- TOC entry 5029 (class 2606 OID 37336)
-- Name: task_comments task_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_comments
    ADD CONSTRAINT task_comments_pkey PRIMARY KEY (id);


--
-- TOC entry 5008 (class 2606 OID 37274)
-- Name: task_priorities task_priorities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_priorities
    ADD CONSTRAINT task_priorities_pkey PRIMARY KEY (id);


--
-- TOC entry 5005 (class 2606 OID 37265)
-- Name: task_statuses task_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_statuses
    ADD CONSTRAINT task_statuses_pkey PRIMARY KEY (id);


--
-- TOC entry 5022 (class 2606 OID 37309)
-- Name: task_tag_links task_tag_links_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_tag_links
    ADD CONSTRAINT task_tag_links_pkey PRIMARY KEY (id);


--
-- TOC entry 5020 (class 2606 OID 37302)
-- Name: task_tags task_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_tags
    ADD CONSTRAINT task_tags_pkey PRIMARY KEY (id);


--
-- TOC entry 5010 (class 2606 OID 37286)
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- TOC entry 4993 (class 2606 OID 37228)
-- Name: team_members team_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_pkey PRIMARY KEY (id);


--
-- TOC entry 4991 (class 2606 OID 37220)
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- TOC entry 4980 (class 2606 OID 37189)
-- Name: tenant_users tenant_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant_users
    ADD CONSTRAINT tenant_users_pkey PRIMARY KEY (id);
pg_dump: creating INDEX "public.refresh_tokens_family_idx"


--
-- TOC entry 4977 (class 2606 OID 37180)
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- TOC entry 5078 (class 2606 OID 37905)
-- Name: token_denylist token_denylist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_denylist
    ADD CONSTRAINT token_denylist_pkey PRIMARY KEY (id);


--
pg_dump: creating INDEX "public.refresh_tokens_tenant_id_idx"
pg_dump: creating INDEX "public.refresh_tokens_token_hash_key"
pg_dump: creating INDEX "public.refresh_tokens_user_id_idx"
pg_dump: creating INDEX "public.role_permissions_role_id_permission_id_key"
pg_dump: creating INDEX "public.task_assignees_task_id_tenant_user_id_key"
-- TOC entry 5080 (class 2606 OID 37907)
-- Name: token_denylist token_denylist_token_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_denylist
    ADD CONSTRAINT token_denylist_token_hash_key UNIQUE (token_hash);


--
-- TOC entry 5049 (class 2606 OID 37410)
-- Name: usage_counters usage_counters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_counters
    ADD CONSTRAINT usage_counters_pkey PRIMARY KEY (id);


--
-- TOC entry 4973 (class 2606 OID 37161)
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- TOC entry 5059 (class 1259 OID 37817)
-- Name: email_settings_tenant_user_id_protocol_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX email_settings_tenant_user_id_protocol_key ON public.email_settings USING btree (tenant_user_id, protocol);


--
-- TOC entry 5072 (class 1259 OID 37886)
-- Name: email_tenant_settings_email_domain_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX email_tenant_settings_email_domain_idx ON public.email_tenant_settings USING btree (email_domain);


--
-- TOC entry 5075 (class 1259 OID 37885)
-- Name: email_tenant_settings_tenant_id_key; Type: INDEX; Schema: public; Owner: postgres
--
pg_dump: creating INDEX "public.task_statuses_tenant_id_slug_key"
pg_dump: creating INDEX "public.task_tag_links_task_id_tag_id_key"
pg_dump: creating INDEX "public.tasks_tenant_id_archived_at_idx"
pg_dump: creating INDEX "public.tasks_tenant_id_assignee_tenant_user_id_idx"
pg_dump: creating INDEX "public.tasks_tenant_id_due_date_idx"
pg_dump: creating INDEX "public.tasks_tenant_id_project_id_idx"
pg_dump: creating INDEX "public.tasks_tenant_id_status_id_idx"
pg_dump: creating INDEX "public.team_members_team_id_tenant_user_id_key"
pg_dump: creating INDEX "public.tenant_users_tenant_id_user_id_key"

CREATE UNIQUE INDEX email_tenant_settings_tenant_id_key ON public.email_tenant_settings USING btree (tenant_id);


--
-- TOC entry 5034 (class 1259 OID 37454)
-- Name: event_attendees_event_id_tenant_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX event_attendees_event_id_tenant_user_id_key ON public.event_attendees USING btree (event_id, tenant_user_id);


--
-- TOC entry 5067 (class 1259 OID 37861)
-- Name: login_attempts_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX login_attempts_created_at_idx ON public.login_attempts USING btree (created_at);


--
-- TOC entry 5068 (class 1259 OID 37859)
-- Name: login_attempts_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX login_attempts_email_idx ON public.login_attempts USING btree (email);


--
-- TOC entry 5069 (class 1259 OID 37860)
-- Name: login_attempts_ip_address_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX login_attempts_ip_address_idx ON public.login_attempts USING btree (ip_address);


--
-- TOC entry 5041 (class 1259 OID 37455)
-- Name: notifications_tenant_id_tenant_user_id_is_read_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_tenant_id_tenant_user_id_is_read_idx ON public.notifications USING btree (tenant_id, tenant_user_id, is_read);


--
-- TOC entry 4984 (class 1259 OID 37440)
-- Name: permissions_code_key; Type: INDEX; Schema: public; Owner: postgres
--
pg_dump: creating INDEX "public.tenants_slug_key"
pg_dump: creating INDEX "public.token_denylist_expires_at_idx"

CREATE UNIQUE INDEX permissions_code_key ON public.permissions USING btree (code);


--
-- TOC entry 5001 (class 1259 OID 37445)
-- Name: project_members_project_id_tenant_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX project_members_project_id_tenant_user_id_key ON public.project_members USING btree (project_id, tenant_user_id);


--
-- TOC entry 4997 (class 1259 OID 37444)
-- Name: projects_tenant_id_owner_tenant_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

pg_dump: creating INDEX "public.token_denylist_user_id_idx"
pg_dump: creating INDEX "public.usage_counters_tenant_id_metric_code_key"
pg_dump: creating INDEX "public.users_email_key"
pg_dump: creating FK CONSTRAINT "public.activity_logs 
activity_logs_actor_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.activity_logs 
activity_logs_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.attachments 
attachments_project_id_fkey"
pg_dump: creating FK CONSTRAINT "public.attachments attachments_task_id_fkey"
pg_dump: creating FK CONSTRAINT "public.attachments attachments_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.attachments 
attachments_uploaded_by_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.audit_logs 
audit_logs_actor_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.audit_logs audit_logs_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.automations 
automations_created_by_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.automations automations_tenant_id_fkey"
CREATE INDEX projects_tenant_id_owner_tenant_user_id_idx ON public.projects USING btree (tenant_id, owner_tenant_user_id);


--
-- TOC entry 4998 (class 1259 OID 37443)
-- Name: projects_tenant_id_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX projects_tenant_id_status_idx ON public.projects USING btree (tenant_id, status);


--
-- TOC entry 5060 (class 1259 OID 37873)
-- Name: refresh_tokens_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX refresh_tokens_expires_at_idx ON public.refresh_tokens USING btree (expires_at);


--
-- TOC entry 5061 (class 1259 OID 37839)
-- Name: refresh_tokens_family_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX refresh_tokens_family_idx ON public.refresh_tokens USING btree (family);


--
-- TOC entry 5064 (class 1259 OID 37840)
-- Name: refresh_tokens_tenant_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX refresh_tokens_tenant_id_idx ON public.refresh_tokens USING btree (tenant_id);


--
-- TOC entry 5065 (class 1259 OID 37837)
-- Name: refresh_tokens_token_hash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX refresh_tokens_token_hash_key ON public.refresh_tokens USING btree (token_hash);


--
-- TOC entry 5066 (class 1259 OID 37838)
-- Name: refresh_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX refresh_tokens_user_id_idx ON public.refresh_tokens USING btree (user_id);


--
-- TOC entry 4989 (class 1259 OID 37441)
-- Name: role_permissions_role_id_permission_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX role_permissions_role_id_permission_id_key ON public.role_permissions USING btree (role_id, permission_id);


--
-- TOC entry 5018 (class 1259 OID 37452)
-- Name: task_assignees_task_id_tenant_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX task_assignees_task_id_tenant_user_id_key ON public.task_assignees USING btree (task_id, tenant_user_id);


--
-- TOC entry 5006 (class 1259 OID 37446)
-- Name: task_statuses_tenant_id_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX task_statuses_tenant_id_slug_key ON public.task_statuses USING btree (tenant_id, slug);


--
-- TOC entry 5023 (class 1259 OID 37453)
-- Name: task_tag_links_task_id_tag_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX task_tag_links_task_id_tag_id_key ON public.task_tag_links USING btree (task_id, tag_id);


--
-- TOC entry 5011 (class 1259 OID 37451)
-- Name: tasks_tenant_id_archived_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tasks_tenant_id_archived_at_idx ON public.tasks USING btree (tenant_id, archived_at);


--
-- TOC entry 5012 (class 1259 OID 37448)
-- Name: tasks_tenant_id_assignee_tenant_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tasks_tenant_id_assignee_tenant_user_id_idx ON public.tasks USING btree (tenant_id, assignee_tenant_user_id);


--
-- TOC entry 5013 (class 1259 OID 37450)
-- Name: tasks_tenant_id_due_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tasks_tenant_id_due_date_idx ON public.tasks USING btree (tenant_id, due_date);


--
-- TOC entry 5014 (class 1259 OID 37447)
-- Name: tasks_tenant_id_project_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tasks_tenant_id_project_id_idx ON public.tasks USING btree (tenant_id, project_id);


--
-- TOC entry 5015 (class 1259 OID 37449)
-- Name: tasks_tenant_id_status_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tasks_tenant_id_status_id_idx ON public.tasks USING btree (tenant_id, status_id);


--
-- TOC entry 4994 (class 1259 OID 37442)
-- Name: team_members_team_id_tenant_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX team_members_team_id_tenant_user_id_key ON public.team_members USING btree (team_id, tenant_user_id);


--
-- TOC entry 4981 (class 1259 OID 37439)
-- Name: tenant_users_tenant_id_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tenant_users_tenant_id_user_id_key ON public.tenant_users USING btree (tenant_id, user_id);


--
-- TOC entry 4978 (class 1259 OID 37438)
-- Name: tenants_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tenants_slug_key ON public.tenants USING btree (slug);


--
-- TOC entry 5076 (class 1259 OID 37908)
-- Name: token_denylist_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_denylist_expires_at_idx ON public.token_denylist USING btree (expires_at);


--
-- TOC entry 5081 (class 1259 OID 37909)
-- Name: token_denylist_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_denylist_user_id_idx ON public.token_denylist USING btree (user_id);


--
-- TOC entry 5050 (class 1259 OID 37456)
-- Name: usage_counters_tenant_id_metric_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX usage_counters_tenant_id_metric_code_key ON public.usage_counters USING btree (tenant_id, metric_code);


--
-- TOC entry 4971 (class 1259 OID 37437)
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


pg_dump: creating FK CONSTRAINT "public.contacts contacts_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.custom_field_values 
custom_field_values_custom_field_id_fkey"
pg_dump: creating FK CONSTRAINT "public.custom_field_values 
custom_field_values_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.custom_fields 
custom_fields_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.email_settings 
email_settings_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.email_settings 
email_settings_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.email_tenant_settings 
email_tenant_settings_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.email_tenant_settings 
email_tenant_settings_updated_by_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.event_attendees 
event_attendees_event_id_fkey"
pg_dump: creating FK CONSTRAINT "public.event_attendees 
event_attendees_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.event_attendees 
event_attendees_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.events 
events_created_by_tenant_user_id_fkey"
--
-- TOC entry 5140 (class 2606 OID 37752)
-- Name: activity_logs activity_logs_actor_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_actor_tenant_user_id_fkey FOREIGN KEY (actor_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5141 (class 2606 OID 37747)
-- Name: activity_logs activity_logs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5126 (class 2606 OID 37687)
-- Name: attachments attachments_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5127 (class 2606 OID 37682)
-- Name: attachments attachments_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5128 (class 2606 OID 37677)
-- Name: attachments attachments_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5129 (class 2606 OID 37692)
-- Name: attachments attachments_uploaded_by_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_uploaded_by_tenant_user_id_fkey FOREIGN KEY (uploaded_by_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- TOC entry 5142 (class 2606 OID 37762)
-- Name: audit_logs audit_logs_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5143 (class 2606 OID 37757)
-- Name: audit_logs audit_logs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5147 (class 2606 OID 37787)
-- Name: automations automations_created_by_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.automations
    ADD CONSTRAINT automations_created_by_tenant_user_id_fkey FOREIGN KEY (created_by_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- TOC entry 5148 (class 2606 OID 37782)
-- Name: automations automations_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.automations
    ADD CONSTRAINT automations_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
pg_dump: creating FK CONSTRAINT "public.events events_related_project_id_fkey"
pg_dump: creating FK CONSTRAINT "public.events events_related_task_id_fkey"
pg_dump: creating FK CONSTRAINT "public.events events_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.notifications 
notifications_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.notifications 
notifications_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.project_members 
project_members_project_id_fkey"
pg_dump: creating FK CONSTRAINT "public.project_members 
project_members_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.project_members 
project_members_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.project_views 
project_views_project_id_fkey"
pg_dump: creating FK CONSTRAINT "public.project_views 
project_views_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.projects 
projects_owner_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.projects projects_team_id_fkey"
-- TOC entry 5137 (class 2606 OID 37732)
-- Name: contacts contacts_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5150 (class 2606 OID 37802)
-- Name: custom_field_values custom_field_values_custom_field_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.custom_field_values
    ADD CONSTRAINT custom_field_values_custom_field_id_fkey FOREIGN KEY (custom_field_id) REFERENCES public.custom_fields(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5151 (class 2606 OID 37797)
-- Name: custom_field_values custom_field_values_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.custom_field_values
    ADD CONSTRAINT custom_field_values_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5149 (class 2606 OID 37792)
-- Name: custom_fields custom_fields_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.custom_fields
    ADD CONSTRAINT custom_fields_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5152 (class 2606 OID 37823)
-- Name: email_settings email_settings_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_settings
    ADD CONSTRAINT email_settings_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5153 (class 2606 OID 37818)
-- Name: email_settings email_settings_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_settings
    ADD CONSTRAINT email_settings_tenant_user_id_fkey FOREIGN KEY (tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5156 (class 2606 OID 37887)
-- Name: email_tenant_settings email_tenant_settings_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_tenant_settings
    ADD CONSTRAINT email_tenant_settings_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5157 (class 2606 OID 37892)
-- Name: email_tenant_settings email_tenant_settings_updated_by_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_tenant_settings
    ADD CONSTRAINT email_tenant_settings_updated_by_tenant_user_id_fkey FOREIGN KEY (updated_by_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5134 (class 2606 OID 37722)
-- Name: event_attendees event_attendees_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_attendees
    ADD CONSTRAINT event_attendees_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5135 (class 2606 OID 37717)
-- Name: event_attendees event_attendees_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_attendees
    ADD CONSTRAINT event_attendees_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5136 (class 2606 OID 37727)
-- Name: event_attendees event_attendees_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_attendees
    ADD CONSTRAINT event_attendees_tenant_user_id_fkey FOREIGN KEY (tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5130 (class 2606 OID 37702)
-- Name: events events_created_by_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_created_by_tenant_user_id_fkey FOREIGN KEY (created_by_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- TOC entry 5131 (class 2606 OID 37707)
-- Name: events events_related_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_related_project_id_fkey FOREIGN KEY (related_project_id) REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5132 (class 2606 OID 37712)
-- Name: events events_related_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--
pg_dump: creating FK CONSTRAINT "public.projects projects_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.refresh_tokens 
refresh_tokens_tenant_id_fkey"

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_related_task_id_fkey FOREIGN KEY (related_task_id) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5133 (class 2606 OID 37697)
-- Name: events events_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5138 (class 2606 OID 37737)
-- Name: notifications notifications_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5139 (class 2606 OID 37742)
-- Name: notifications notifications_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_tenant_user_id_fkey FOREIGN KEY (tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5096 (class 2606 OID 37532)
-- Name: project_members project_members_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5097 (class 2606 OID 37527)
-- Name: project_members project_members_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5098 (class 2606 OID 37537)
-- Name: project_members project_members_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
pg_dump: creating FK CONSTRAINT "public.refresh_tokens 
refresh_tokens_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.role_permissions 
role_permissions_permission_id_fkey"
pg_dump: creating FK CONSTRAINT "public.role_permissions 
role_permissions_role_id_fkey"
pg_dump: creating FK CONSTRAINT "public.roles roles_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.subscriptions 
subscriptions_plan_id_fkey"
pg_dump: creating FK CONSTRAINT "public.subscriptions 
subscriptions_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_assignees 
task_assignees_task_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_assignees 
task_assignees_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_assignees 
task_assignees_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_checklist_items 
task_checklist_items_checklist_id_fkey"
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_tenant_user_id_fkey FOREIGN KEY (tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5099 (class 2606 OID 37547)
-- Name: project_views project_views_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_views
    ADD CONSTRAINT project_views_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5100 (class 2606 OID 37542)
-- Name: project_views project_views_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_views
    ADD CONSTRAINT project_views_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5093 (class 2606 OID 37517)
-- Name: projects projects_owner_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_owner_tenant_user_id_fkey FOREIGN KEY (owner_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5094 (class 2606 OID 37522)
-- Name: projects projects_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5095 (class 2606 OID 37512)
-- Name: projects projects_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5154 (class 2606 OID 37846)
pg_dump: creating FK CONSTRAINT "public.task_checklist_items 
task_checklist_items_done_by_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_checklist_items 
task_checklist_items_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_checklists 
task_checklists_task_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_checklists 
task_checklists_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_comments 
task_comments_author_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_comments 
task_comments_task_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_comments 
task_comments_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_priorities 
task_priorities_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_statuses 
task_statuses_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_tag_links 
task_tag_links_tag_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_tag_links 
task_tag_links_task_id_fkey"
pg_dump: creating FK CONSTRAINT "public.task_tag_links 
task_tag_links_tenant_id_fkey"
-- Name: refresh_tokens refresh_tokens_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5155 (class 2606 OID 37841)
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5086 (class 2606 OID 37482)
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5087 (class 2606 OID 37477)
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5085 (class 2606 OID 37472)
-- Name: roles roles_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5144 (class 2606 OID 37772)
-- Name: subscriptions subscriptions_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- TOC entry 5145 (class 2606 OID 37767)
-- Name: subscriptions subscriptions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5111 (class 2606 OID 37607)
-- Name: task_assignees task_assignees_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_assignees
    ADD CONSTRAINT task_assignees_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5112 (class 2606 OID 37602)
-- Name: task_assignees task_assignees_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_assignees
    ADD CONSTRAINT task_assignees_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;
pg_dump: creating FK CONSTRAINT "public.task_tags task_tags_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tasks 
tasks_assignee_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tasks tasks_parent_task_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tasks tasks_priority_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tasks tasks_project_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tasks 
tasks_reporter_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tasks tasks_status_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tasks tasks_team_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tasks tasks_tenant_id_fkey"


--
-- TOC entry 5113 (class 2606 OID 37612)
-- Name: task_assignees task_assignees_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_assignees
    ADD CONSTRAINT task_assignees_tenant_user_id_fkey FOREIGN KEY (tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5120 (class 2606 OID 37652)
-- Name: task_checklist_items task_checklist_items_checklist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_checklist_items
    ADD CONSTRAINT task_checklist_items_checklist_id_fkey FOREIGN KEY (checklist_id) REFERENCES public.task_checklists(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5121 (class 2606 OID 37657)
-- Name: task_checklist_items task_checklist_items_done_by_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_checklist_items
    ADD CONSTRAINT task_checklist_items_done_by_tenant_user_id_fkey FOREIGN KEY (done_by_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5122 (class 2606 OID 37647)
-- Name: task_checklist_items task_checklist_items_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_checklist_items
    ADD CONSTRAINT task_checklist_items_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5118 (class 2606 OID 37642)
pg_dump: creating FK CONSTRAINT "public.team_members team_members_team_id_fkey"
pg_dump: creating FK CONSTRAINT "public.team_members 
team_members_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.team_members 
team_members_tenant_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.teams 
teams_manager_tenant_user_id_fkey"
-- Name: task_checklists task_checklists_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_checklists
    ADD CONSTRAINT task_checklists_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5119 (class 2606 OID 37637)
-- Name: task_checklists task_checklists_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_checklists
    ADD CONSTRAINT task_checklists_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5123 (class 2606 OID 37672)
-- Name: task_comments task_comments_author_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_comments
    ADD CONSTRAINT task_comments_author_tenant_user_id_fkey FOREIGN KEY (author_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- TOC entry 5124 (class 2606 OID 37667)
-- Name: task_comments task_comments_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_comments
    ADD CONSTRAINT task_comments_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5125 (class 2606 OID 37662)
-- Name: task_comments task_comments_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_comments
    ADD CONSTRAINT task_comments_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5102 (class 2606 OID 37557)
-- Name: task_priorities task_priorities_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_priorities
    ADD CONSTRAINT task_priorities_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5101 (class 2606 OID 37552)
-- Name: task_statuses task_statuses_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_statuses
    ADD CONSTRAINT task_statuses_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5115 (class 2606 OID 37632)
-- Name: task_tag_links task_tag_links_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_tag_links
    ADD CONSTRAINT task_tag_links_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.task_tags(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5116 (class 2606 OID 37627)
-- Name: task_tag_links task_tag_links_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_tag_links
    ADD CONSTRAINT task_tag_links_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5117 (class 2606 OID 37622)
-- Name: task_tag_links task_tag_links_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_tag_links
    ADD CONSTRAINT task_tag_links_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5114 (class 2606 OID 37617)
-- Name: task_tags task_tags_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_tags
    ADD CONSTRAINT task_tags_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5103 (class 2606 OID 37587)
-- Name: tasks tasks_assignee_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_assignee_tenant_user_id_fkey FOREIGN KEY (assignee_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5104 (class 2606 OID 37572)
-- Name: tasks tasks_parent_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_parent_task_id_fkey FOREIGN KEY (parent_task_id) REFERENCES public.tasks(id) ON UPDATE CASCADE ON DELETE SET NULL;


pg_dump: creating FK CONSTRAINT "public.teams teams_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tenant_users tenant_users_role_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tenant_users 
tenant_users_tenant_id_fkey"
pg_dump: creating FK CONSTRAINT "public.tenant_users tenant_users_user_id_fkey"
pg_dump: creating FK CONSTRAINT "public.usage_counters 
usage_counters_tenant_id_fkey"
pg_dump: creating ACL "SCHEMA public"
--
-- TOC entry 5105 (class 2606 OID 37582)
-- Name: tasks tasks_priority_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_priority_id_fkey FOREIGN KEY (priority_id) REFERENCES public.task_priorities(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5106 (class 2606 OID 37567)
-- Name: tasks tasks_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5107 (class 2606 OID 37592)
-- Name: tasks tasks_reporter_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_reporter_tenant_user_id_fkey FOREIGN KEY (reporter_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5108 (class 2606 OID 37577)
-- Name: tasks tasks_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_status_id_fkey FOREIGN KEY (status_id) REFERENCES public.task_statuses(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5109 (class 2606 OID 37597)
-- Name: tasks tasks_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5110 (class 2606 OID 37562)
-- Name: tasks tasks_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5090 (class 2606 OID 37502)
-- Name: team_members team_members_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5091 (class 2606 OID 37497)
-- Name: team_members team_members_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5092 (class 2606 OID 37507)
-- Name: team_members team_members_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_tenant_user_id_fkey FOREIGN KEY (tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5088 (class 2606 OID 37492)
-- Name: teams teams_manager_tenant_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_manager_tenant_user_id_fkey FOREIGN KEY (manager_tenant_user_id) REFERENCES public.tenant_users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5089 (class 2606 OID 37487)
-- Name: teams teams_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5082 (class 2606 OID 37467)
-- Name: tenant_users tenant_users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant_users
    ADD CONSTRAINT tenant_users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 5083 (class 2606 OID 37457)
-- Name: tenant_users tenant_users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant_users
    ADD CONSTRAINT tenant_users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5084 (class 2606 OID 37462)
-- Name: tenant_users tenant_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant_users
    ADD CONSTRAINT tenant_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5146 (class 2606 OID 37777)
-- Name: usage_counters usage_counters_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_counters
    ADD CONSTRAINT usage_counters_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 5346 (class 0 OID 0)
-- Dependencies: 5
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


-- Completed on 2026-08-18 09:41:21

--
-- PostgreSQL database dump complete
--

\unrestrict ZFZyz0SllobxXGqY3glCyZ35mW1vrFALq2hOlc8DWR95MMe0XF81xK8McI4C2ws

