node_modules/
dist/
.next/
.env
.env.local
.env.*.local
*.log
.turbo/
coverage/
*.tgz
tsbuildinfo
*.tsbuildinfo
uploads/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# artefato vazio gerado pelo EAS quando rodado da raiz
/app.json
